.button-container {
    padding-top: 6rem;
    padding-left: 5rem;
}

.error-container {
    padding-top: 1rem;
    padding-left: 5rem;
}

.error-container p{
    color: rgb(168, 11, 11);
    font-size: larger;
}

.reset-password-container {
    padding-top: 1rem;
    padding-left: 5rem;
}
.reset-password-container p {
    color: rgb(36, 36, 36);
    font-size: larger;
}

.reset-password-container p a {
    color: white;
    text-decoration: none;
}


.centered-container-login {
    margin-top: 14rem;
    border-radius: 5%;
    min-height: 45rem;
    min-width: 50rem;
    align-items: left;
}

.centered-container-left button {
    border-radius: 5%;
    border: none;
    outline: none;
    color: rgba(36, 36, 36, 0.501);;
    background-color: rgba(171, 170, 170, 0);
    transition: 1s;
    font-size: x-large;
}

.centered-container-left button:hover {
    border-radius: 5%;
    border: none;
    outline: none;
    color: rgba(0, 0, 0, 0.791);
    background-color: rgba(171, 170, 170, 0);
    transition: 1s;
    font-size: xx-large;
}


.video-container {
    height: 200px;
    width: 200px;
    overflow: hidden;
    position: relative;
  }
  
.video-container video {
    min-width:100%;
    min-height:100%;
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translateX(-90%) translateY(-65%);
  }
  

